mysql_cmd/*.txt
web_crawler/*.txt
web_crawler/data.json
itHomeToTechBlog/data.json
talking/*.mp3
.env_office/bin
.env_office/Scripts
.env_office/pyvenv.cfg
.env_office/include
.env_office/lib
.env_office/.Python
.env_office/*.json
**/*/__pycache__/*
**/*/build/*
**/*/dist/*
**/*/*.spec
**/*/.DS_Store
*/.DS_Store
.DS_Store
